<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>formulaire sécurisé</title>
</head>
<body>
    <h2>TP_Formulaire protégé contre CSRF</h2>
    <form action="/submit" method="post">
        <input type="text" name="message" placeholder="Votre message">
        <input type="hidden" name="csrf_token" value="{{csrf_token}}">
        <br><br>
        <input type="submit" value="Envoyer">
    </form>
</body>
</html>